export TF_ADMIN=prodatalab-terraform-admin
export TF_CREDS=~/.config/gcloud/terraform-admin.json
export TF_LOG=ERROR
export TF_LOG_PATH=$(pwd)/terraform.log

export TF_VAR_org_id=$(gcloud beta organizations list | head -n2 | tail -n1 | awk '{print $2}')
export TF_VAR_billing_account=$(gcloud alpha billing accounts list | head -n2 | tail -n1 | awk '{print $1}')
export TF_VAR_credentials=$(cat ${TF_CREDS})
export TF_VAR_project_name=prodatalab-test-compute
export TF_VAR_region=us-central1

export GOOGLE_PROJECT=prodatalab-terraform-admin
export GOOGLE_CREDENTIALS=$(cat ${TF_CREDS})
export GOOGLE_PROJECT=${TF_ADMIN}
